
@{
    ViewBag.Title = "NewPage";
}

<h2>NewPage</h2>
<p><a href="@Url.Action("TentEntry","Event")" class="btn btn-primary btn-lg">Tent Entry &raquo;</a></p>



<p><a href="@Url.Action("HotelEntry","Event")" class="btn btn-primary btn-lg">Hotel Entry &raquo;</a></p>



<p><a href="@Url.Action("PlateEntry","Event")" class="btn btn-primary btn-lg">Plate Entry &raquo;</a></p>

